.App {
  margin: 0px;
  text-align: center;
  /* https://www.gradientmagic.com/ */
  background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%,rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%,rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001000000000005%,rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%,rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.33500000000001%,rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%),linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%,rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%,rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%,rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%,rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%,rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%,rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%,rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%,rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%,rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%,rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%),linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%,rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%,rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%,rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%),linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%,rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%),linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%,rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%,rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%,rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%,rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.42999999999999%,rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.71600000000001%,rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%),linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%,rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%,rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%,rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%,rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.42999999999999%,rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.71600000000001%,rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%),linear-gradient(90deg, rgb(168, 1, 206),rgb(20, 120, 203));
  padding: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.app-body {
  height: 100vh;
  overflow: auto;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
  color: #F35EFF;
  font-size: 1em;
  padding: 0 0 10px 0;
  flex: 0 0 auto;
}

.nav-links {
  text-decoration: none;
  color: #F35EFF;
  margin: 0 10px;
  font-size: .8;
}

.nav-links:hover {
  color: #FFC9FF;
}

footer {
  background-color: transparent;
  flex: 0 0 auto;
  height: 30px;
}

footer img {
  width: 20px;
  margin: 5px;
  color: white;
}

.site-name {
  font-size: 1em;
  margin: 0 0 -20px 0;
}
.site-name h1 {
  color: #03e9f4;
}

.site-name h1:hover {
  color: #FFC9FF;
}

.movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: auto;
  min-height: 200px;
}

.movie-container h5 {
  color: white;
  margin: 20px;
}
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 10px 10px 10px;
  width: 140px;
  height: 230px;
  background-color: #160932;
  transform: skewY(-5deg);
  box-shadow: 0 8px 6px -3px black;
}

.review-btn {
  margin: 0 auto;
  width: auto;
  transform: skewY(5deg);
  font-size: .9em;
  z-index: -1;
}

.details-container .movie-card {
  box-shadow: none;
  transform: skewY(5deg);
  margin: 30px 0 0 0;
}

.rank {
  align-self: flex-end;
  color: #160932;
  background-color: #FFA671;
  font-weight: bold;
  font-size: .9em;
  width: 60px;
  opacity: .95;
  margin: -15px;
  transform: skewY(10deg);
  box-shadow: 5px 5px 5px;
}

.rank h3 {
  transform: skewY(-10deg);
}
.details {
  background-color: #640E7D;
  color: #D1FDFF;
  font-weight: 700;
  font-size: .8em;
  transform: skewY(5deg);
  margin: 0 0 10px 0;
  opacity: .8;
}

.details:hover {
  color: #03e9f4;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 600px;
  min-height: 500px;
  min-width: 300px;
  margin: 40px;
  background-color: #160932;
  color:#03e9f4;
  opacity: .8;
  transform: skewY(-5deg);
  box-shadow: 0 8px 6px -3px black;
}

.details-container h2 {
  transform: skewY(5deg);
}

.movie-detail {
  transform: skewY(5deg);
  text-align: left;
  margin: 10px;
  z-index: -1;
}

.img-div {
  transform: skewY(5deg);
  width: 150px;
}

.vote-div {
  transform: skewY(5deg);
}

.welcome h4 {
    color: white;
    margin: 20px;
}

.welcome .veterans {
  margin: -130px 10px;
}

.main-img {
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-container h5 {
  color: white;
  padding: 30px;
  margin: -20px 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  color:#03e9f4;
  background: linear-gradient(45deg,  rgb(168, 1, 206),rgb(20, 120, 203));
  box-shadow: 5px 5px 5px #03e9f4;
  opacity: .95;
  max-width: 300px;
  margin: 40px;
}

.search-form h3 {
  padding: 10px;
  margin: 10px 0 -10px 0;
}

.alert-container {
  width: 100%;
  height: 100%;
  opacity: .6;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.search-input {
  width: 200px;
  padding: 5px;
  font-family: 'Rajdhani', sans-serif;
}

button {
  width: 80px;
  align-self:flex-end;
  margin: 5px;
  color: #03e9f4;
  background: transparent;
  border: none;
  font-family: 'Orbitron', sans-serif;
}

button:hover {
  background: linear-gradient(270deg, transparent, #03e9f4, transparent);
  color: white;
  font-family: 'Orbitron', sans-serif;
}

i {
  margin: 15px;
}

i:hover {
  color: white;
}

input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.1em;
  color: white;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

label {
  text-align: left;
  font-size: 16px;
  color: white;
  color: #03e9f4;
  font-size: 12px;
}

@media only screen and (min-width: 500px) {
  .movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 20px 20px 20px;
    width: 200px;
    height: 330px;
    background-color: #160932;
    transform: skewY(-5deg);
    box-shadow: 0 8px 6px -3px black;
  }
  .app-body {
    max-width: 1050px;
  }
}

@media only screen and (min-width: 1050px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    margin: -20px 0 20px 0;
  }
  
  footer {
    height: 50px;
  }
  
  footer img {
    width: 30px;
    margin: 10px 0;
  }
  
  .site-name {
    font-size: 1.2em;
  }

  .search-form {
    max-width: 800px;
    flex-direction: row;
    box-shadow: 5px 5px 5px #03e9f4;
  }

  .search-form h3 {
    margin: 0 10px;
  }

  .search-form form {
    flex-direction: row;

  }
}