

.App {
  margin: 0px, auto;
  text-align: center;
  background-image: linear-gradient(#160932, #F35EFF, #1871C2, #FFEBFF);
}

Link {
  margin: 5px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  background-color: #160932;
  color: #F35EFF;
  font-size: 1em;
}

.site-name {
  font-size: 1.3em;
}

.movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.movie-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width: 200px;
  height: 350px;
 
}

.movie-detail {
  width: 450px;
}

img {
  width: 300px;
}

.main-img {
  width: 100%;
  margin: 0 auto;
}

.nav-links:hover {
  color: #FFC9FF;
}

.rank {
  color: #160932;
  background-color: #FFA671;
  font-weight: bold;
  font-size: 2em;
  border: 2px solid #FFA671;
  border-radius: 50px;
  width: 60px;
  opacity: .95;
  margin: 5px;
  padding: 5px;
}

.details {
  background-color: #640E7D;
  color: #D1FDFF;
  font-weight: bold;
  padding: 20px;
  font-size: 1.2em;
  opacity: .75;
}