
.review-box {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 270px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg,  rgb(168, 1, 206),rgb(20, 120, 203));
    box-shadow: 5px 5px 5px #03e9f4;
    opacity: .95;
    z-index: 1000;
}

.review-box h4 {
    margin: 20px 0 30px;
    color: #fff;
    text-align: center;
}

.review-box .user-box {
    position: relative;
    z-index: 1000;
}

.review-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    
}
.review-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 14px;
}

.review-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.review-box a span {
    position: absolute;
    display: block;
}

.review-box i {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    padding: 0;
}